.PresentationBoard {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-top: 12px;

  .wrapper {
	width: 200px;
	height: 120px;
	display: flex;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
  }
}