.square_logo {
  background: #2d6cc7;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  padding: 4.5px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  .logo_line_one {
    background: #fff;
    width: 6px;
    border-radius: 1px;
    height: 50%;
    display: block;
  }

  .logo_line_two {
    background: #fff;
    width: 6px;
    border-radius: 1px;
    height: 100%;
    display: block;
  }
}
