.ColumnList {
  margin-top: 12px;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fff6 #00000026;
  scrollbar-width: auto;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  list-style: none;
  padding: 0 6px 8px 6px;
  height: calc(100% - 68px);

  .wrapper_button {
	padding: 0 6px;
	align-self: flex-start;
	flex-shrink: 0;
	display: block;
	flex-grow: 1;
	height: 100%;

	.create_column_button {
	  justify-content: flex-start;
	  width: 272px;
	  font-size: 14px;
	  font-weight: 500;
	  margin-bottom: 8px;
	  align-items: center;

	  .button_plus {
		width: 16px;
		height: 16px;
		margin-right: 8px;
		fill: var(--color-text-white);
	  }
	}
  }


}