.AddColumnForm {
  form {
	width: 272px;
	padding: 8px;
	border-radius: 12px;
	background-color: var(--background-color-list);
	box-shadow: var(--shadow-reised);

	.textarea {
	  height: 32px;
	}
  }

  .wrapper_nav {
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
  }
}