:root {

  // Colors
  --background-color-main: #1d2125;
  --color-main: #FFFFFFDD;

  --background-color-create-board: #373c41ad;
  --background-color-create-board-hovered: #373c41;

  // fonts
  --font-family-main: sans-serif;
  // xs
  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
  // s
  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);;

  // m
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);;

  // l
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);;

  // xl
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);;

  //input, select

  //padding

  //border

}