.BackgroundPicker {
  .wrapper {
	display: flex;
	align-items: flex-end;

	.more {
	  width: 40px;
	  height: 32px;
	  padding: 0;
	  margin-left: 8px;

	  span {
		flex-basis: 100%;
		font-size: 16px;
		height: 24px;
		line-height: 24px;
		color: var(--color-main);
	  }
	}
  }


}