.ModalHeader {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;
  text-align: center;
  padding: 4px 8px;

  .title_modal {
	grid-column: 1 / span 3;
	grid-row: 1;
	padding: 0 32px;
	white-space: nowrap;
  }

  .button_back {
	grid-column: 1;
	grid-row: 1;
  }

  .button_close {
	grid-column: 3;
	grid-row: 1;
	width: 32px;
	height: 32px;
	padding: 6px;
	position: relative;
	z-index: 2;

	svg {
	  width: 14px;
	  height: 14px;
	  fill: var(--color-main);
	}
  }

}