.BoardBackgroundModal {
  z-index: 10;

  .wrapper {
	padding: 0 12px 12px;

	.wrapper_label {
	  display: flex;
	  align-items: center;

	  .title {
		width: 100%;
	  }

	  .detailed {
		margin-bottom: 8px;
	  }
	}

	hr {
	  background-color: var(--ac-border);
	  border: 0;
	  height: 1px;
	  margin: 16px 0;
	  padding: 0;
	  width: 100%;
	}

	.backgroundList {
	  ul {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		justify-content: center;

		li {
		  width: 85px;
		  height: 56px;
		}

	  }
	}
  }

}