.Button {
  cursor: pointer;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.addonLeft, .addonRight {
  display: flex;
}

.disabled {
  background: var(--background-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.primary {
  background-color: var(--background-color-bold);
  color: var(--color-innverse);
  font: var(--font-s);
  font-weight: 500;
  line-height: 20px;

  &:hover {
	background-color: var(--background-color-bold-hovered);
	color: var(--color-innverse);
  }

  &:active {
	background-color: var(--background-color-bold-pressed);
	color: var(--color-innverse);
  }
}


.transparent {
  background: transparent;
  color: var(--color-main);

  &:hover {
	background-color: #a6c5e229;
	color: var(--color-main);
  }

  &:active {
	background-color: #bfdbf847;
	color: var(--color-main);
  }
}

.white-semi-transparent {
  background-color: #ffffff3d;
  padding: 12px;
  color: #fff;

  &:hover {
	background-color: #a6c5e229;
	color: #fff;
  }

  &:active {
	background-color: #bfdbf847;
	color: #fff;
  }
}

.dark {
  color: var(--color-main);
  background-color: var(--background-neutral);
  font: var(--font-s);

  &:hover {
	background-color: var(--background-neutral-hovered);
	color: var(--color-main);
  }

  &:active {
	background-color: var(--background-neutral-pressed);
	color: var(--color-main);
  }
}

.xs {
  width: 32px;
  height: 32px;
  padding: 6px;
  position: relative;
  z-index: 2;

  svg {
	width: 16px;
	height: 16px;
	line-height: 16px;
	fill: var(--color-main);
  }
}

.s {
  width: 32px;
  height: 32px;
  padding: 6px;
  position: relative;
  z-index: 2;

  svg {
	width: 20px;
	height: 20px;
	fill: var(--icon-primary-color);
  }
}


.r1 {
  border-radius: 3px;
}

.r2 {
  border-radius: 8px;
}

.r3 {
  border-radius: 12px;
}



