.Input {
  padding: 8px 12px;
  width: 100%;
  color: var(--color-main);
  border-radius: 3px;
  font: var(--font-s);

  &:focus {
	box-shadow: inset 0 0 0 2px var(--border-color-input-focused);
	background-color: var(--background-color-input);
  }

  &:hover {
	box-shadow: inset 0 0 0 2px var(--border-color-input-focused);
	background-color: var(--background-color-input-hovered);
  }
}

