.AddBoardForm {

  .form {
	margin-top: 12px;
	display: flex;
	flex-direction: column;

	.wrapper_label {
	  display: flex;
	  line-height: normal;

	  span {
		margin-left: 3px;
		color: var(--icon-accent);
	  }


	}

	.input_name_board {
	  margin-top: 2px;
	  font-size: 14px;
	}

	.create {
	  margin-top: 12px;
	}
  }
}